@value breackpoints: "../styles/breakpoints.css";
@value tablet as bp-tablet, phone as bp-phone from breackpoints;

.container {
  display: flex;
  width: 900px;
  margin: 3em auto;
  justify-content: space-between;
  flex-wrap: wrap;
}

.bio {
  width: 600px;
}

@media bp-tablet {
  .container {
    width: initial;
    align-items: center;
    justify-content: center;
  }

  .bioDesc {
    margin: 1em;
  }
}