@value breackpoints: "../styles/breakpoints.css";
@value tablet as bp-tablet, phone as bp-phone from breackpoints;

.container {
  height: 90vh;
  background-image: 
  linear-gradient(
    to right bottom,
  rgba(132, 94, 194, 0.8),
  rgba(214, 93, 177, 0.8),
  rgba(255,111, 145, 0.8),
  rgba(255,150, 113, 0.8),
  rgba(255,199, 95, 0.8),
  rgba(249,248, 113, 0.8)),
  url('./headerBg.jpg');
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
  clip-path: polygon(0 0, 100% 0, 100% 75vh, 0 100%);
}

.textBox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-40%, -50%);
  color: white;
}

.textBox h1 {
  font-size: 3.75em;
}

@media bp-phone {
  .textBox {
    top: 50%;
    left: 42%;
  }

  .textBox h1 {
    font-size: 3em;
  }
}